
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SwipeFlix</title>
  <link rel="stylesheet" href="static/style.css" />
</head>
<body>

  <div class="log-in-display">
    % if username:
        <p>Inloggad som: {{username}}</p>
    % end
  </div>

  <div id="genre-menu">
    <div id="genre-icon">
      <img src="/static/img/menu1.jpg" alt="A user icon" width="50" height="50">
    </div>
    <div id="genre-panel" class="hidden"></div>
  </div>

  <div id="user-menu">
    <div id="user-icon">
      <img src="/static/img/user_icon1.jpg" alt="A user icon" width="50" height="50">
    </div>
  
    <div id="auth-panel">
      % if username:
        <p><a href="/user_profile"><strong>{{username}}</strong></a></p>
        <a href="/logout"><button id="logout-btn">Logga ut</button></a>
        <button id="show-liked-btn">Gillade filmer</button>
      % else:
        <a href="/login_page"><button id="login-btn">Logga in</button></a>
        <a href="/reg_page"><button id="register-btn">Skapa konto</button></a>
      % end
    </div>
  </div>

  <div id="app">
    <h1>SwipeFlix 
        <img src="/static/img/logga2.jpg" alt="SwipeFlix logo" width="70" height="70" style="vertical-align: middle;">
    </h1>
    <div id="movie-container"></div>
    <div id="controls">
      <button id="dislike-btn">👎</button>
      <button id="like-btn">👍</button>
    </div>
    <div id="movie-info"></div>
  </div>

  <div id="liked-movies-section" style="display: none;">
    <h2>Gillade filmer</h2>
    <div id="liked-movies-list"></div>
  </div>
  
  <script src="static/script.js"></script>
</body>
</html>

